/* Flat button */
button.reactmd-button-flatbutton {
  background: 0 0;
}

button.reactmd-button-flatbutton:hover {
  background-color: rgba(158,158,158,.2);
}

button.reactmd-button-flatbutton:active {
  background-color: rgba(158,158,158,.4);
}

button.reactmd-button-flatbutton:focus:not(:active) {
    background-color: rgba(0,0,0,.12);
}

button.reactmd-button-flatbutton::selection {
  background: #b3d4fc;
}

/* Raised button */
button.reactmd-button-raisedbutton {
  background-color: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

button.reactmd-button-raisedbutton:active {
  background-color: rgba(158,158,158,.4);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

button.reactmd-button-raisedbutton:focus:not(:active) {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}
